h1,
h2,
h4,
h5 {
  color: white !important;
}

.stockCard {
  margin-bottom: 1rem;
}

.tickerData {
  font-size: x-small;
}

@media screen and (max-width: 415px) {
  .rh {
    font-size: xx-small;
  }
}
.newsCard col {
  align-items: center;
  justify-content: center;
}
.newsCard div {
  font-size: x-small;
  text-align: center;
}

.newsCard img {
  height: 150px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
