h1,
h2,
h4,
h5 {
  color: white !important;
}

.stockCard {
  margin-bottom: 1rem;
}

.tickerData {
  font-size: x-small;
}

@media screen and (max-width: 415px) {
  .rh {
    font-size: xx-small;
  }
}
